<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">

    

    <h1> URL SHORTENER </h1>
    <form action="" method = "POST" class ="my-4 form-inline">
        <label for="fullUrl" class="sr-only"></label>
        <input required placeholder="Url" type="url" name= "fullUrl" id="fullUrl" class="form-control mr-2" >
        <button class="btn btn-sucess" type="submit">Shrink</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Full Url</th>
                <th>Short Url</th>
                <th>Clicks</th>

            </tr>
        </thead>
        <body>
            <tr>
               <td><a href="https://www.youtube.com">https://www.youtube.com</a></td> 
            <td><a href="/123456">123456</a></td>
            <td>10</td>
            </tr>
        </body>
    </table>
</div>
</body>
</html>